html {
  background: url('bgimg.jpeg');
  background-size: cover;
  color: rgba(200,200,200,1);
  height: 100%;
  font-family: sans-serif;
  overflow: hidden;
}

body {
  height: 100%;
}

h2 {
  margin-left: 42%;
  position: fixed;
  text-align: center;
}

#gallery {
  height: 200px;
  display: flex;
  flex-direction: row;
  top: 30%;
  position: absolute;
  padding-left: 45%;
  padding-right: 45%;
}


.card {
  display: inline-block;
  width: 200px;
  height: 200px;
  text-align: center;
}

.card.active {
  transform: scale(1.25);

}

.panel {
  width: 124px;
  height: 70px;
  background-size: cover;
  margin: 0 auto;
  border-radius: 6px;
}

.active .panel {
    border: 1px solid rgba(200,200,200,1);
}

h5 {
  display:none;
}

.active h5 {
  margin: 0 0 10px 0;
  display: block;
}
